/* Reset css */

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Header */

header {
  height: 200px;
  background-color: #f3b3b4;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  height: 100%;
  width: 30%;
  padding-left: 10px;

}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbar {
  width: 50%;
  /* background-color: gold; */
  display: flex;
  padding: 50px 10px 0px 10px;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  text-align: center;
  padding: 0;
}

.navbar ul li {
  width: 100%;
  display: flex;
  align-self: center;
}

.navbar ul li a {
  width: 100%;
  text-decoration: none;
  color: rgb(11, 11, 11);
  font-size: 1.2em;
  font-weight: 600;

}

.navbar ul li a:hover {
  color: whitesmoke;
  cursor: pointer;
  font-size: 1.3em;
}


/* BILLBOARD */


.billboard {
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  background-color: #069dec;
}
.poster {
  background-color:whitesmoke ;
  margin: 20px auto;
  width: 80%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #a16468;
  border-radius: 20px;
  color: #2f4744;
  font-weight: 400;
  padding: 0 0 15px 0;
  cursor: pointer;
}


.poster:hover {
  background-color: #f3b3b4;
  box-shadow: -6px 6px 14px #a16468;
}
.titleJapanese {
  margin-top: 0;
  font-size: 1.2em;
}
.titleSpanish {
  font-size: 1.3em;
}
.image {
  width: 250px;
  height: 350px;
}
.info {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 20px;
  overflow:scroll;
}
.description{
  text-align: center;
  line-height: 1.2em;
  width: 100%;
}
